/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

tr {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #dee2e6;
}
th {
  display: block;
  flex: 1;
  border: none !important;
}
td {
  display: block;
  flex: 1;
  border: none !important;
}

.mandate-td {
  width: 100%; 
  flex: auto; 
}
.inline-table {
    widows:100%;
    line-height:5px;
}
  .inline-table tr {
    border: none !important;
  }
.align-right {
    text-align:right;
}

